body 
{
    background-color: white;
    color: #2a4d50;
            
}

/* COLOURS */

.yellow 
{
  background-color: #ffe600;
  color: #ef413d;
}
.yellow a 
{
  color: #00b0b7;
}
.yellow.button 
{
  color: #ef413d;
}
.yellow.button:hover 
{
  background-color: #ef413d;
  color: #ffe600;
}

.blue 
{
  background-color: #00b0b7;
  color: #ffe600;
}
.blue a 
{
  color: #2a4d50;
}
.blue.button 
{
  color: #ffe600;
}
.blue.button:hover 
{
  background-color: #ffe600;
  color: #00b0b7;
}

.red 
{
  background-color: #ef413d;
  color: #ffe600;
}
.red a 
{
  color: #2a4d50;
}
.red.button 
{
  color: #ffe600;
}
.red.button:hover 
{
  background-color: #ffe600;
  color: #ef413d;
}

.grey 
{
  background-color: #2a4d50;
  color: #ffe600;
}
.grey a 
{
  color: #00b0b7;
}
.grey.button 
{
  color: #ffe600;
}
.grey.button:hover 
{
  background-color: #ffe600;
  color: #2a4d50;
}        
.container 
{
  /*height: auto;*/
  height: 0;  
  width: 100%;
  padding-bottom: 66.66667%;
  overflow: hidden;
  margin: 0;
}         
.container:before, 
.container:after 
{
  content: " ";
  display: table;
}
.container:after 
{
  clear: both;
}
.container.short 
{
  padding-bottom: 33.3333%;
}

.column,
.columns 
{
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  height: 0;
}

.container .column ,
.container .columns
{
  padding-bottom: 66.66667%;
} 

.short.container .column ,
.short.container .columns
{
  padding-bottom: 33.33333%;
} 

[class*="column"] + [class*="column"]:last-child 
{
  float: right;
}
[class*="column"] + [class*="column"].end 
{
  float: left;
}

.one 
{
  width: 16.66667%;
}
.two 
{
  width: 33.33333%;
}
.three 
{
  width: 50%;
}
.four 
{
  width: 66.66667%;
}
.five 
{
  width: 83.33333%;
}
.six 
{
  width: 100%;
}

.square 
{
  width: 100%;
  position: relative;
  top: 0;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}          
.square img 
{
  height: 100%;
  max-width: 999em;
  margin: auto;
  position: absolute;
}
/* long words will be broken, if necessary, over two or more lines */
.square .content
{

  -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
} 

.content 
{
  position: relative;
  padding: 12px; 
  margin: 0;
} 
   
/* LINKS AND BUTTONS*/

a
{
    border-bottom: 1px dotted;
    text-decoration: none;
  transition: all 0.6s;
}
a:hover
{
    transition: all 0.6s;
    border-bottom: 1px dotted transparent;
}

.button 
{
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
    display: block;
    float: left;
    border: 1px solid transparent;
}
.button:hover 
{
  border: 1px solid;
}
          
/* COLOUR PHOTO FILTERS! */
          
.filter 
{
  position: relative;
}
.filter img 
{
  /* sadly Firefox + Thimble don't support greyscale SVG filters */        
    /* IE 6-9 */
    filter: gray; 
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-filter: grayscale(1) contrast(1.6); 
}
.filter:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.filter.blue:after {
  background: rgba(0, 176, 183, 0.6);
}
.filter.yellow:after {
  background: rgba(255, 230, 0, 0.6);
}
.filter.red:after {
  background: rgba(239, 65, 61, 0.6);
}                  
          
/* TYPOGRAPHY */   
  
body 
{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

b,
h1,
h2,
h3,
.button,
a
{
  font-weight: 700;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child 
{
  margin-top: 0;
}
p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}
          
/* GENERAL RULES */          
          
*,
*:before,
*:after 
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body 
{
  font-size: 100%;
}

body 
{
  padding: 0;
  margin: 0;
  position: relative;
  cursor: default;
}

a:hover 
{
  cursor: pointer;
}

a:focus 
{
  outline: none;
}
          
img 
{
  display: inline-block;
  vertical-align: middle;
}

img,
object,
embed 
{
  max-width: 100%;
  height: auto;
}

  img.gif {
    margin-right: -75%;
    margin-bottom: -50%; 
  }
object,
embed 
{
  height: 100%;
}
      
/* UTILITY RULES */  

.scroll
{
  overflow: auto;
}      
          
.left 
{
  float: left !important;
}
.right 
{
  float: right !important;
}         
img.right
{
  right: 0;
}
.text-left 
{
  text-align: left !important;
}
.text-right 
{
  text-align: right !important;
}
.text-center 
{
  text-align: center !important;
}

.text-justify 
{
  text-align: justify !important;
}

.text-content {
    color: #00b0b7;
}

img.avatar {
    border-radius: 70px;
    border: 5px solid whitesmoke;
}

div.organizer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    width: 130px;
    height: 130px;
    border-radius: 70px;
    border: 5px solid whitesmoke;
}

div#mit-ava{
	background:url('/static/img/mit.jpg');
}

div#mit-ava:hover{
	background:url('/static/img/mit_hover.jpg');
	content: "Mitsuki";
}

div#trinh-ava{
	background: url('/static/img/trinh.jpg');
}

div#trinh-ava:hover{
	background: url('/static/img/trinh_hover.jpg');
	content: "Trinh Nguyen";
}