<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="The 1st Hack Jam in Saigon" name="webmaker:description">
<meta content="guide" name="webmaker:tags">
<meta content="launch2" name="webmaker:tags">
<meta content="events" name="webmaker:tags">
<meta content="makerparty" name="webmaker:tags">

  <title>Hack Jam Saigon 1st</title>
    <link href="{{ STATIC_URL }}css/invitation.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="container">
    <div class="three columns yellow" style="height:100%;">

      <div class="content" style="padding:0;">

        <h1 class="blue" style="margin-bottom:0;padding:20px;font-size: 3em;">
          <span style="color:white;">Hack</span> <span style="color:red;">Jam</span> <span style="color:yellow;">Saigon</span> <sup>1st</sup>
        </h1>

        <div class="content" style="float:right;padding:0;">
          <a class="button red" href="#" style="text-align: center;font-size: 25px;border-top-left-radius: 0;border-top-right-radius: 0;">Invited Only</a>
        </div>

        <div style="padding:20px;margin-top:20px;">
        <p><b>Date,</b> <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Hack%20Jam%20Saigon%201st&dates=20131027T020000Z/20131027T070000Z&details=The%20first%20Hack%20Jam%20in%20Vietnam.%20Teach%2C%20Learn%2C%20and%20Solve%20Problems%20Together!!!&location=378%2F7%2C%20Xo%20Viet%20Nghe%20Tinh%20Str.%2C%20Ward%2025%2C%20Binh%20Thanh%20Dist.%2C%20HCMC%2C%20Vietnam&trp=false&sprop=Hack%20Jam&sprop=name:http%3A%2F%2Fwww.hackjam.org%2F" target="_blank" title="Add to your Google Calendar">9AM-2PM Sunday, 27 October 2013</a></p>
        <p><b>The Venue</b>, <a target="_blank" href="https://www.google.com/maps/preview?authuser=0#!q=378%2F7+%2C+X%C3%B4+Vi%E1%BA%BFt+Ngh%E1%BB%87+T%C4%A9nh%2C+Ph%C6%B0%E1%BB%9Dng+25%2C+B%C3%ACnh+Th%E1%BA%A1nh%2C+Ho+Chi+Minh+City%2C+Vietnam+70000&data=!1m4!1m3!1d3899!2d106.7113188!3d10.8036326!4m15!2m14!1m13!1s0x317528bb34490f17%3A0x5ecc4d66598c35de!3m8!1m3!1d3899!2d106.7114046!3d10.8036537!3m2!1i1440!2i764!4f13.1!4m2!3d10.8035379!4d106.7114061" title="Click to see the map">378/7, Xo Viet Nghe Tinh Str., Ward 25, Binh Thanh Dist., HCMC, Vietnam</a></p>  


<p>
          <b>What we'll do and why you should come!</b>
        </p>
          <p>

            <ul class="text-content">
                <li>No Seminar</li>

                <li>No Winner or Loser</li>

                <li>Only TEACH, LEARN, and SOLVE PROBLEMS TOGETHER</li>

                <li>It will change your boring life forever!</li>
            </ul>

        </p>
   
        <p><b>Agenda</b></p>
        <p>
            <ol class="text-content">
                <li>Introduction</li>

                <li>Setup and share useful collaborative tools.</li>

                <li>Hack the Agenda (What do you want to make?)</li>

                <li>MAKE: brainstorm, hack, and prepare a short demo or presentation</li>

                <li>Present your prototypes</li>

                <li>Close</li>
            </ol>
        </p>
       
       </div>
      </div>

      <div class="container short">


        <div class="one columns">
          <div class="square red"></div>
          <div class="square blue"></div>
        </div>
        <div class="four columns">
          <div class="square grey filter">

            <img class="gif" src="{{ STATIC_URL }}img/hj2.jpg" width="475">
      <!-- Here are all the others
           http://bit.ly/10cKwvN
		   http://bit.ly/17HIbLJ
           http://bit.ly/18ymJtH
           http://bit.ly/1bwXfcu
           http://bit.ly/18yn0wK
           http://bit.ly/1bwXx32 -->
            
          </div>
        </div>

        <div class="one column">
          <div class="square blue"></div>
          <div class="red square"></div>
        </div>
        
      </div>

      <div class="content" id="footer" style="position:absolute;bottom:0;">
          Inspired by <b><a href="https://webmaker.org" target="_blank">Mozilla</a></b>
      </div>

    </div>

    <div class="two columns">
      <div class="square blue">
        <!-- <img src="http://s11.postimg.org/ye2afv9gj/image.jpg"> -->
        <img src="http://bit.ly/10cKwvN" width="500" height="500px">

      </div>
      <div class="square yellow filter">
        <img src="http://s10.postimg.org/i8ysf7uth/image.jpg">
      </div>
    </div>
    <div class="one column blue scroll">
      <!-- The following image has a yellow filter -->
        <div class="square red filter">
            
            <img src="http://s10.postimg.org/x679g881x/image.jpg">
        </div>

        <div class="square grey">
            <div class="content">
                  <!-- Don't forget the event hashtag, for the tweets! -->
                  <a href="https://twitter.com/search?q=%23makerparty">#makerparty</a><br>
                  <!-- #makerparty is the official hashtag, but you can also add your own -->
                  <a href="https://twitter.com/search?q=%23hackjam">#HackJam</a><br>
                  <a href="https://twitter.com/search?q=%23hackjam_saigon">#HackJamSaigon</a><br>
                  <a href="https://twitter.com/search?q=%23solve_problem_together">#SolveProblemTogether</a><br>
                  <a href="https://twitter.com/search?q=%23change_the_world">#ChangeTheWorld</a>
            </div>
        </div>
        <div class="blue square">
            <div class="red square">
                <div class="content">
                    <b>Contact</b><br><br>
                    <a href="http://about.me/dangtrinh" target="_blank">Trinh Nguyen</a><br>
                    0916.298.737<br>
                    dangtrinhnt@gmail.com
                </div>
            </div>
        </div>

            <div class="content">
                <b>Organizers & Volunteers</b><br><br>

                <a href="#"><div class="organizer" id="mit-ava"></div></a><br><br>
                <a href="http://about.me/dangtrinh"><div class="organizer" id="trinh-ava"></div></a><br><br>

                <b><a href="mailto:dangtrinhnt@gmail.com" style="color:yellow;text-align:center;"><div style="text-align:center;">JOIN US?</div></a></b>
            </div>


    </div>


    </div>


<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700" rel="stylesheet" type="text/css">
</body>
</html>